.button-transparent {
	display: flex;
	align-items: center;
	text-align: center;
	font-size: 18px;
	line-height: 21px;
	color: $button-transparent-color;
	border: 1px solid $button-transparent-color;
	border-radius: 18px;
	background: transparent;
	transition: 0.25s;
	outline: none;
	@include clickable-element;

	&:hover {
		background:$button-transparent-color;
		color: #fff;
	}
	&:active {
		background: lighten($button-transparent-color, 8%);
	}

	&__subwrapper {
		display: inline-block;
		padding: 13px 49px;
		border: 2px solid transparent;
		border-radius: inherit;
	}

	&:focus &__subwrapper {
		border-color: $focus-outline-color;
	}
}