* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Apple SF', Arial, Helvetica, sans-serif;
	list-style: none;
}

*::selection {
	color: #fff !important;
	background: #acacac;
}