$main-screen-title--height: 72px;
$main-screen-title--margin-vertical: 26px;

$navigation-width: 270px;
$navigation-button-offset: 8px;

// media
$first-breackpoint: 780px;
$media-mobile: 500px;
$second-breackpoint: 1000px;
$third-breackpoint: 570px;

// interface
$button-transparent-color: #460D23;
$focus-outline-color: #ffbf11;
$big-switch-arrows-width: 12px;
$big-switch-side-padding: 12px;
$big-switch-vertical-padding: 10px;
$big-switch-arrow-width: 12px;

// layout
$mobile-general-padding: 15px;
